 , #Part3{
  height: 100vh;
  width: 100vh;
}

/* --------- Nav ----------- */

ul , h2 {
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 0;
  padding-left: 20px;
  g;
  min-height: 300px;
  padding: 40px 20px;
}


main img {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  display: block;
}
-top: 30px;
}