/* Color */
:root {
  /*--primary-backgroud-color: #0D0D0D;*/
  --link-Botton-Title-color: #0066FF;
  --Hover-Color: #AA00FF;
  --text-color: #FFFFFF;
  --Button-hover : #
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-backgroud-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: sans-serif, Arial, Helvetica;
}

/* Section */
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#HomeP,
#ContactP,
#AboutP {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  text-align: center;
}

/* Navigation */
nav {
  top: 0;
  width: 100%;
  padding: 15px 0;
}

ul,
h2 {
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 0;
  padding-left: 20px;
  gap: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/* Main */
main {
  display: flex;
  align-items: center;
  min-height: 300px;
  padding: 40px 20px;
}

main img {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  display: block;
}

/* Icons and info */

.images{
  display: inline;
  height: 20px;
  margin: 0;
  padding: 0;
  width: 20px;
  background-color: aqua;
}



/* Form */
form {
  margin: 0em auto;
  width: 45em;
  /* Color not working ! */
  color: var(--link-Botton-Title-color);
}

label,
div[label] {
  color: rgb(121, 121, 48);
  display: inline-block;
  text-align: center;
}

input,
textarea,
button {
  font: 1em sans-serif;
  max-width: 25em;
  width: 25em;
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 0.5em;
}

input,
textarea {
  padding: 15px;
  resize: vertical;
  margin-bottom: 20px;
  font-size: 16px;
}

textarea {
  height: 15em;
  max-width: 25em;
  width: 25em;
}

button {
  height: 3em;
  width: 22em;
  font-weight: bold;
  background-color: var(--link-Botton-Title-color);
}

textarea,
h2,
input {
  padding: 1em;
}

h2,
a[main] {
  color: var(--link-Botton-Title-color);
}

/* Footer */

footer {
  display: block;
  padding: 30px 20px;
  margin-top: 30px;
}



button:hover{
 background-color: var(--text-color);
 color: var(--link-Botton-Title-color);
}